*.aux
*.log

Elle/implementation

Elle/implementation.hi

Elle/implementation.o

.main.tex.swp

Elle-ND/Elle-ND-ott.tex

Elle-ND/Elle-ND-ott.tex

Elle/Elle-ott.tex

Elle-ND/.Elle-ND.ott.swp

*.swp

Elle-ND/Elle-ND-ott.tex

Elle-ND/.Elle-ND.ott.swp

*.swp

ElleType-inc.tex

Elle-inc.tex

Elle-ND-inc.tex

Elle-ND/Elle-ND-ott.tex

Elle-ND/Elle-ND-output.tex

Elle/Elle-output.tex

ElleType/ElleType-ott.tex

ElleType/ElleType-output.tex

logic-ott.tex

logic-ott1.tex

logic-ott1.tex.backup

logic-ott.tex

logic-ott2.tex

logic-ott2.tex.backup

main.out

main.vtc

Makefile2

Elle-ND/Elle-ND-ott.tex
*-ott*
*-inc
*-inc.*
*.pdf
*-output.tex
/exchange-draft/Elle-ND/Elle-ND.tex
/exchange-draft/Elle/Elle.tex
/exchange-draft/ElleType/ElleType.tex
/exchange-draft/LNL/LNL.tex
/exchange-draft/ND/ND.tex
/exchange-draft/logic-old.tex
